*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgba(0, 0, 0, 0.7);
}

.global {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    
}

iframe{
    width: 700px;
    height: 1200px;
    background: rgb(55, 55, 55);
}

img {
    margin-bottom: 1rem;
    width: 700px;
    border-radius: 10px;
}

.hide {
   position: relative;
   z-index: 1;
   margin-top: -300px;
}

.border {
    width: 700px;
    height: 100px;
    margin: 0 auto;
    background: rgb(55, 55, 55);

}


.Global-card {
    display: block;
    position: relative;
    z-index: 10;
    margin-top: -50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.card-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.card-logo img {
    width: 90px;
 }

 .card-logo .card-img{
    width: 50px;
}


@media(max-width: 1200px) {

    iframe {
        width: 600px;
    }

    img{
        width: 600px;
    }

    .border {
        width: 600px;
    }

    .Global-card {
        display: block;
        margin-top: -100px;
    }

    .card-logo{
        margin: 1rem 0rem;
    }
}


@media(max-width: 750px) {

    iframe {
        width: 500px;
    }

    img{
        width: 500px;
    }

    .hide {
        margin-top: -280px;
     }

    .border {
        width: 500px;
    }

    .card-logo img {
        width: 70px;
     }
    
     .card-logo .card-img{
        width: 40px;
    }
}

@media(max-width: 600px) {

    iframe {
        width: 400px;
        height: 950px;
    }

    img{
        width: 400px;
    }

    .hide {
        margin-top: -90px;
     }

    .border {
        width: 400px;
        height: 220px;
    }

    .Global-card {
        margin-top: -220px;
    }

    .card-logo img {
        width: 55px;
     }
    
     .card-logo .card-img{
        width: 35px;
    }

}


@media(max-width: 450px) {

    iframe {
        width: 380px;
    }

    img{
        width: 380px;
    }

    .border {
        width: 380px;
    }

    .hide {
        margin-top: -105px;
     }

}


