*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgba(0, 0, 0, 0.7);
}

.global {
    margin-top: 2rem;
    text-align: center;
}

iframe{
    width: 700px;
    height: 1000px;
    background: rgba(0, 0, 0, 0.35);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.18);
}

img {
    margin-bottom: 1rem;
    width: 700px;
    border-radius: 10px;
}


.Global-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 2rem 0rem;
}

.card-logo img {
    width: 90px;
 }

 .card-logo .card-img{
    width: 50px;
}


@media(max-width: 1200px) {

    iframe {
        width: 600px;
    }

    img{
        width: 600px;
    }

    .Global-card {
        display: block;
    }

    .card-logo{
        margin: 1rem 0rem;
    }
}


@media(max-width: 750px) {

    iframe {
        width: 500px;
    }

    img{
        width: 500px;
    }
}

@media(max-width: 600px) {

    iframe {
        width: 400px;
    }

    img{
        width: 400px;
    }

    .Global-card {
        display: block;
    }

    .card-logo{
        margin: 0.5rem 0rem;
        gap: 1rem;
    }

}

@media(max-width: 500px){
    .card-logo img {
        width: 80px;
     }
    
     .card-logo .card-img{
        width: 45px;
    }
}

@media(max-width: 450px) {

    iframe {
        width: 380px;
        height: 1050px;
    }

    img{
        width: 380px;
    }

    .card-logo img {
        width: 70px;
     }
    
     .card-logo .card-img{
        width: 40px;
    }
}


